.display-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: white;
    position:absolute;
    top:0;

}
.heading{
    font-size: 66px;
}
.display-1 div{
    font-size: 33px;
}